.cartPageContainer1 {
  height: auto;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 226, 226);
  flex-direction: column;
  overflow-y: auto;
}

.cartContainer1 {
  margin-top: 70px;
  margin-bottom: 250px;
  padding: 30px;
  height: auto;
  width: 80%;
  background-color: rgb(238, 237, 237);
}

.cartItem1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  background-color: aliceblue;
  margin-top: 40px;
}

.cartItem1 div {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cartItem1 div img {
  height: auto;
  width: 100%;
}

#NamePrice {
  width: 32%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3%;
}

.addToCartDiv1 {
  font-weight: bold;
  width: 100%;
  height: 40px;
  background-color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.cartItem1 button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 85, 85);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.0625rem;
  border-radius: 0.1875rem;
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.CategoryList1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 70px;
  background-color: #fff;
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}

.CategoryList1 button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 85, 85);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.0625rem;
  border-radius: 0.1875rem;
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.filterSortMenu1 {
  width: 15vw;
  height: auto;
  background-color: rgb(203, 228, 167);
}

.subfilterSortMenu1 {
  background-color: rgba(218, 198, 255, 0.658);
  width: 15vw;
  height: 83.5vh;
  position: sticky;
  display: flex;
  padding-left: 2vw;
  flex-direction: column;
}




.MAIN1 {
  width: 100vw;
  height: auto;
  display: flex;
}

.selectCategoryDiv {
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .filterSortMenu1 {
    width: 50vw;
    height: auto;
    background-color: rgb(203, 228, 167);
  }

 
  .cartItem1 {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .cartItem1 div {
    width: 100%;
    height: auto;
  }

  #NamePrice {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  /* .cartItem1 button {
    width: 100%;
    height: 40px;
  } */

  .CategoryList1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .filterSortMenu1 {
    height: auto;
    width: 30vw;
    min-width: 15rem;
  }
  .subfilterSortMenu1 {
    height: 100vh;
    width: 100%;
  }

  .buttonsDiv {
    width: 50%;
  }
  .buttonsDiv Link{
    width: 100px;
  }

  .buttons{
    width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .cartItem1 {
    margin-top: 20px;
  }

  /* .cartItem1 div {
    justify-content: flex-start;
  } */

  #NamePrice {
    align-items: center;
  }

  .cartItem1 button {
    font-size: 12px;
    height: 35px;
  }

  .CategoryList1 {
    font-size: medium;
    margin-top: 10px;
  }

  .MAIN1 {
    display: flex;
    flex-direction: column;
  }

  .filterSortMenu1 {
    height: auto;
    width: 100vw;
  }
  .subfilterSortMenu1 {
    height: 100%;
    width: 100%;
    padding-left: 20%;
  }

  .cartPageContainer1 {
    width: 100vw;
  }

  .buttonsDiv{
    display: flex;
    justify-content: center;
  }
}



