*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.secondDivCard{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.imgDiv{
 width: 100%;
 height: 75%;
 border-radius: 6px;
}

.imgDiv img{
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0px 0px;
}

.itemInfo{
    width: 100%;
    height: 25%;
    background-color: rgb(236, 183, 183);
    border-radius: 0px 0px 6px 6px;
    padding-left: 20px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemInfo h3, h5{
    font-size: 150%;
}

.itemInfo h3, h5{
    height: 18%;
}

@media screen and (max-width: 660px) {
    .secondDivCard{
        width: 75%;
        height: auto;
    }
}  