.cartPageContainer {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 226, 226);
  flex-direction: column;
}

.cartContainer {
  margin-top: 70px;
  margin-bottom: 250px;
  padding: 30px;
  height: auto;
  width: 80vw;
  background-color: rgb(238, 237, 237);
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  background-color: aliceblue;
  margin-top: 40px;
}

.cartItem img {
  height: 100%;
  width: auto;
}

.addToCartDiv1 {
  font-weight: bold;
  width: 100%;
  height: 40px;
  background-color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.cartItem button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 85, 85);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.0625rem;
  border-radius: 0.1875rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.CategoryList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85vw;
  height: 70px;
  background-color: #fff;
  margin-top: 20px;
}

.CategoryList button {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 85, 85);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.0625rem;
  border-radius: 0.1875rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
